body {
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
    color: black;
    background-color: white;
}

.title {
    font-size: 4vh;
    font-weight: bold;
}

.description {
    color: gray;
    font-size: 2.5vh
    font-weight: lighter;
}

menu {
    // margin: 1em 0 0 0;
    padding: 0;
}

.list > li > a {
    margin: .5em 0 0 0;
    font-size: 4.25vh;
    font-weight: bold;
}

menu {
    list-style: none;  
}
