body {
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
    color: black;
    background-color: white;
}

.title {
    font-size: 4.25vh;
}

.description {
    color: gray;
    font-size: 2.5vh;
}

menu {
    margin: 1em 0 0 0;
    padding: 0;
}

li {
    margin: .5em 0 0 0;
    font-size: 3.75vh;
}

menu {
    list-style: none; 
}
